<%- include('./partials/header') %>
<main id="idxhome">

<% if (user) { %>
<p id="welcomeuser" > Welcome back to your LAMS, <%= user.name %> at <%= user.labelname %>!</p>
<% } %>

<%  if (!user) { %>
<br />
<br />
<div id="home-gif">
    <div id="LAMS-txt">LAMS</div>
</div>

<p id="homeh1"><span id="italic">THE</span><br /> Label Artist Management System</p>
<% } %>

</main>
<%- include('./partials/footer') %>