<%- include('../partials/header') %>
<main id="newartist">

<h1 id="addartisttitle">Add a New Artist</h1>
    <form id="addartistform" action="/artists" method="POST">
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Signed:</label>
        <input type="checkbox" name="signed" value="false"><br>
        <label>Signed On Date:</label>
        <input type="date" name="signed_on"><br>
        <label>Additional Details:</label><br>
        <textarea id="artdetailtext" name="details"></textarea><br>
        <button id="addartistbutton" type="submit">Add to Database</button>
    </form>



</main>
<%- include('../partials/footer') %>